<%- model_class = Project -%>
<div class="page-header">
  <h1><%= @project.title %></h1>
  <p><strong>Created by:</strong> <%= @project.creator.name %></p>
  <% if @project.creator == current_user %>
    <p>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_project_path(@project), :class => 'btn' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  project_path(@project),
                  :method => 'delete',
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-danger' %>
    </p>
  <% end %>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= simple_format(@project.description) %></dd>
</dl>

<div class="form-actions">
  <h3>
    <span>Project Members</span>
    <span>
      <% if current_user %>
        <% if @project.members.include?(current_user) %>
          <%= link_to 'Remove Self From Project',
                      project_membership_path(@project.id, current_user.id),
                      :method => 'delete',
                      :data => { :confirm => 'Are you sure?' },
                      :class => 'btn btn-danger pull-right' %>
        <% else %>
          <%= link_to 'Become a member of this project',
                      project_memberships_path(@project),
                      :method => :post,
                      :class => 'btn btn-success pull-right' %>      
        <% end %>
      <% end %>      
    </span>  
  </h3>
  <ul>
    <% if @project.members.count > 0 %>
      <% @project.members.each do |user| %>
        <li><%= user.name %></li>
      <% end %>
    <% else %>
      <li>No members yet!</li>
    <% end %>
  </ul>
</div>

<div>
  <h3>Comments</h3>
  <table class="table table-striped">
    <tbody>
      <% if @project.comments.count > 0 %>
        <% @project.comments.each do |comment| %>
          <tr>
          <td width="30%"><strong><%= comment.commenter %></strong></td>
          <td width="70%"><%=  simple_format(comment.body) %></td>
          </tr>
        <% end %>
      <% else %>
        <tr><td width="100%">No Comments Yet!</td></tr>
      <% end %>
    </tbody>
  </table>
  <br />
  <% if current_user %>
    <%= form_for([@project, @project.comments.build]) do |f| %>
      <%= f.text_area :body %>
      <%= f.submit :class => 'btn' %> 
    <% end %>
  <% end %>
</div>